body{
    font-family: 'Montserrat', sans-serif;
}

/* Title for all Sections */
.title
{
    font-weight: 800;
    font-size: 40px;
}
/* Shared Properties */
h6{
    font-weight: 800;
    font-size: 18px;
}
img{
    width: 100%;
}
 /* TOP Padding for some sections */
  .section-padding {
    padding:100px 0;
}
/*---------------------------------------------------------------------------------------------------------------- */

/* header */
header{
background-image: url("images/bg.jpg");
background-position: center center;
background-size: cover;
height: 800px;
}
header h1{
    font-weight: 900;
    font-size: 50px;
}
.layer{
    height: 100%;
    background-color: rgba(0, 0, 0,.5);
}
 .test{
     text-align: center;
 }
 .navbar-dark .navbar-nav .nav-link {
     color: #ffffff;
     padding: 25px 15px;
 }

/*---------------------------------------------------------------------------------------------------------------- */

 /* About Section */
 .hero img{
     width: 100%;
 }
 .about{
     font-weight: 800;
 }
 .Ui{
     color: #999;
     margin-bottom: 20px;
 }
 .progress-bar{
     background-color: #1c1c1c;
 }
 .btn1{
background-color: #1c1c1c;
color: #ffffff;
border: 1px solid #1c1c1c;
font-size: 13px;
 }
 .btn1:hover{
    background-color:  #ffffff;
    color: #1c1c1c;

 }
.btn2{
    background-color:  #ffffff;
    color: #1c1c1c;
    border: 1px solid #1c1c1c;
    font-size: 13px;
}
.btn2:hover{
    background-color: #1c1c1c;
    color: #ffffff;

}
/*---------------------------------------------------------------------------------------------------------------- */

/* Services Section */
.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:#f4f4f4;
    margin: auto;
    color: #000;
}
.circle:hover{
    background-color:#000;
    color: #f4f4f4;
}

.circle .fa{
    font-size: 30px;
    padding: 20px;
}
/*---------------------------------------------------------------------------------------------------------------- */
/* Portfolio  Section*/
.member-caption
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    opacity: 0;
    transition: all .5s;
}
.member-text{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.member-text i{
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    padding: 5px;
}
.member-text i:hover{
  background-color: #fff;
  color: black;
  border: 1px solid black;
}
.member:hover  .member-caption{
  opacity: 1;
  border: 4px solid rgba(0,0,0,.125);
}
/*---------------------------------------------------------------------------------------------------------------- */
/* Testimonials Section */
.slide-img{
    width: 100px;
    height: 100px;
    margin: auto;
}
.slide-img img{
    border-radius: 50%;
    width: 100%;
    margin: 50px 0;
}
.slider{
    color: #888;
}

/*---------------------------------------------------------------------------------------------------------------- */
/* Counters Section */
.counter .fa{
    font-size: 30px;
    padding: 20px;
}
.counter span{
    font-weight: 900;
    font-size: 30px;
}
.counter p{
    font-size: 15px;
    color: #748182;
}
/*---------------------------------------------------------------------------------------------------------------- */
/* Our Blog Section  */
.card{
    overflow: hidden;

}
  .card-img-top:hover{
      transform: scale(1.2,1.2);

  }
/*---------------------------------------------------------------------------------------------------------------- */
/* Contact Us Section */
.form textarea {
    height: 160px;
    max-height: 160px;
    max-width: 100%;
  }

/*---------------------------------------------------------------------------------------------------------------- */

 /* footer */
 footer{
    background-color: #1c1c1c;
    color: #748182;
    font-size: 13px;
    padding: 20px;
}